@using Wiki_Blaze.Components.Slider
@inject IJSRuntime JS
@attribute [CascadingTypeParameter(nameof(T))]
@typeparam T where T : struct
@implements IAsyncDisposable

<CascadingValue IsFixed="true" Value="sliderState">
    @ChildContent
    <div @ref="sliderElement"></div>
</CascadingValue>

@code {
    #region Fields
    readonly SliderState<T> sliderState = new();
    T prevValue;
    T internalValue;
    ElementReference sliderElement;
    DotNetObjectReference<DxSlider<T>>? dotNetRef;
    IJSObjectReference? clientModule;
    IJSObjectReference? clientSlider;
    #endregion

    #region Properties
    DotNetObjectReference<DxSlider<T>> DotNetRef 
        => dotNetRef ??= DotNetObjectReference.Create(this);
    #endregion

    #region Parameters
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public T MinValue { get; set; }

    [Parameter]
    public T MaxValue { get; set; }

    [Parameter]
    public T? Step { get; set; }

    [Parameter]
    public T Value { get; set; }

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    [Parameter]
    public SliderValueChangeMode ValueChangeMode { get; set; }

    [Parameter]
    public bool ShowRange { get; set; } = true;

    [Parameter]
    public bool Enabled { get; set; } = true;
    #endregion

    #region Lifecycle Events
    protected override async Task OnParametersSetAsync() {
        if(!Value.Equals(prevValue)) {
            internalValue = Value;
            prevValue = Value;
        }
        await UpdateServerState();
        await UpdateClientState();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            clientModule = await LoadSliderModule();
            clientSlider = await LoadClientInstance(clientModule);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync() {
        if(clientSlider != null)
            await clientSlider.DisposeAsync();
        if(clientModule != null)
            await clientModule.DisposeAsync();
        DotNetRef?.Dispose();
    }
    #endregion

    #region Methods
    [JSInvokable]
    public async Task UpdateValueFromClient(T clientValue) {
        if(!internalValue.Equals(clientValue)) {
            internalValue = clientValue;
            await UpdateServerState();
            await ValueChanged.InvokeAsync(clientValue);
        }
    }

    ValueTask UpdateServerState() {
        sliderState.Value = internalValue;
        sliderState.Step = Step;
        sliderState.ShowRange = ShowRange;
        sliderState.MinValue = MinValue;
        sliderState.MaxValue = MaxValue;
        sliderState.Enabled = Enabled;
        sliderState.ValueChangeMode = ValueChangeMode;
        return ValueTask.CompletedTask;
    }

    ValueTask UpdateClientState() {
        if(clientSlider != null && clientModule != null) {
            return clientModule.InvokeVoidAsync("updateStateFromServer",
                clientSlider, sliderState);
        }
        return ValueTask.CompletedTask;
    }

    ValueTask<IJSObjectReference> LoadSliderModule() {
        return JS.InvokeAsync<IJSObjectReference>(
                "import", "./Components/Slider/DxSlider.razor.js");
    }

    ValueTask<IJSObjectReference> LoadClientInstance(IJSObjectReference module) {
        return module.InvokeAsync<IJSObjectReference>(
                "initializeSlider",
                sliderElement,
                DotNetRef,
                sliderState
            );
    }
    #endregion
}
