.kanban-layout-grid .dx-card {
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    background-color: #fff !important;
    margin: 0 !important;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 9rem;
    padding: 0;
    text-align: left;
}

.dxbl-grid[data-dx-focus-hidden] th.kanban-header-cell:focus-visible {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.dxbl-grid[data-dx-focus-hidden] td.kanban-data-cell:focus-visible,
.dxbl-grid[data-dx-focus-hidden] td.kanban-data-cell:focus-within {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.kanban-layout-grid .kanban-data-cell {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    background-color: rgba(192, 192, 192, 0.32);
}

.kanban-layout-grid .kanban-header-cell {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    background-color: rgba(170, 170, 170, 0.35) !important;
}

.kanban-drag-hint .dxbl-grid-row-drag-hint-drag-anchor {
    display: none;
}

.kanban-drag-hint {
    padding: 0;
    width: 18rem;
}

.kanban-layout-grid {
    border: none;
    height: 30rem;
}

.kanban-layout-grid > .dxbl-scroll-viewer > .dxbl-scroll-viewer-content > .dxbl-grid-table {
    border-collapse: separate;
    border-spacing: 2rem 0;
    border: none;
}

.kanban-layout-grid .dxbl-grid-empty-data-area {
    padding: 0.5rem;
}

.kanban-layout-grid > .dxbl-scroll-viewer > .dxbl-scroll-viewer-content > .dxbl-grid-table > tbody > tr.dxbl-grid-empty-row > .dxbl-grid-empty-data-area * {
    display: none !important;
}

.kanban-layout-grid .dxbl-grid-empty-row {
    border: none;
}

.kanban-layout-grid .kanban-column-grid {
    height: 22.5rem;
    background: transparent;
    border: none;
}

.kanban-layout-grid .kanban-column-grid .kanban-drag-anchor {
    padding: 0;
}

.kanban-layout-grid .kanban-column-grid .kanban-drag-anchor + td {
    padding: 0 !important;
}

.kanban-layout-grid .kanban-column-grid .kanban-drag-anchor + td * {
    padding: 0 !important;
}

.kanban-layout-grid .kanban-column-grid .dxbl-grid-indent-cell-size {
    width: 100% !important;
}

.kanban-layout-grid .kanban-column-grid .dxbl-grid-indent-cell-size + col {
    width: 0 !important;
}

.kanban-layout-grid .kanban-column-grid .dxbl-grid-header-row {
    display: none;
}

.kanban-layout-grid .kanban-column-grid .dxbl-scroll-viewer {
    background: transparent !important;
}

.kanban-layout-grid .kanban-column-grid .dxbl-grid-table {
    border: none !important;
    border-spacing: 0 1rem;
    border-collapse: separate;
}

.kanban-layout-grid .kanban-column-grid .dxbl-grid-table tr {
    background: transparent !important;
}

.kanban-layout-grid .kanban-column-grid .dxbl-grid-table td {
    background: transparent !important;
}
